# Asthma Maps by Year (2007-2010)

Asthma ED visits by zip code, by year, adjusted for population, for 2007-2010 (encompassing 2 major LA fires)

## Data Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import folium
import json
import geopandas as gpd
import matplotlib.pyplot as plt

print("Imports complete")

Imports complete

In [7]:
rank_adult = pd.read_csv("annual_rank.csv")
rank_adult.head()

,Unnamed: 0,ZIP,2012Index,2013Index,2014Index,2015Index,2016Index,2017Index,Sum
0,0,91105,4,2,36,8,2,8,60
1,1,91030,5,29,35,40,24,19,152
2,2,93510,6,13,51,14,7,9,100
3,3,91390,9,0,20,2,35,16,82
4,4,90755,11,55,38,28,23,29,184